/* alta style guide */
@font-face {
  font-family: 'GothamBold';
  src: url('font/Gotham_Bold.otf') format("opentype");
}

@font-face {
  font-family: 'GothamLight';
  src: url('font/Gotham_Light_Regular.otf') format("opentype");
}

.header-text {
  text-align: center;
  color: white;
}

.body-text {
  font-family: 'GothamLight', Fallback, sans-serif;
}

.alta-red {
 color: #B82233;
}

.alta-black {
 color: #333333;
}

.alta-grey {
 color: #666666;
}

.alta-blue {
  background-color: #007491;
}

.alta-green {
  background-color: #4DC7E0;
}

/* styling */
#map {
  width: 50%;
}

.place-title {
  font-size: 32px;
  text-align: center;
}

.bike-spot-image {
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* overwriting css libraries */
textarea.form-control {
  height: 40px !important;
}

.list-group-item {
  border-color: #333333 !important;
  padding: 0 1.25rem !important;
}

.count {
  color: #B82233 !important;
}

.form-group  {
  margin-bottom: 0px !important;
}

.alta-logo {
  position: absolute;
  z-index: 100;
}

/* custom bootstrap for 5 columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
